
Android_Project/.idea/modules.xml

Android_Project/app/src/main/java/group_ant/android_project/MainActivity.java

Android_Project/app/src/main/res/layout/navigation_bar.xml

CS_8803_Android/.idea/modules.xml

Android_Project/.idea/modules.xml
