
Android_Project/.idea/modules.xml

Android_Project/app/src/main/java/group_ant/android_project/MainActivity.java

Android_Project/app/src/main/res/layout/navigation_bar.xml

CS_8803_Android/.idea/modules.xml

Android_Project/.idea/modules.xml

8803Oct13AM/app/src/main/AndroidManifest.xml

8803Oct13AM/app/src/main/AndroidManifest.xml

8803Oct13AM/.idea/misc.xml

8803Oct13AM/.idea/misc.xml

8803Oct13AM/.idea/vcs.xml

8803Oct13AM/app/build.gradle

8803Oct13AM/app/google-services.json

8803Oct13AM/app/src/main/java/com/example/zhangyongzheng/a8803oct13am/DividerItemDecoration.java

8803Oct13AM/app/src/main/java/com/example/zhangyongzheng/a8803oct13am/myadapter.java

8803Oct13AM/app/src/main/java/com/example/zhangyongzheng/a8803oct13am/puzzle.java

8803Oct13AM/app/src/main/java/com/example/zhangyongzheng/a8803oct13am/signup.java

8803Oct13AM/app/src/main/java/com/example/zhangyongzheng/a8803oct13am/timecounting.java

8803Oct13AM/app/src/main/java/com/example/zhangyongzheng/a8803oct13am/User_id.java

8803Oct13AM/app/src/main/res/layout/task_layout.xml

8803Oct13AM/build.gradle

8803Oct13AM/gradle/wrapper/gradle-wrapper.properties
